*{ /*seletor universal para resetar as bordas da pagina*/
    padding: 0px;
    margin: 0px;
}

:root { /*seletor raiz para variaveis*/
    --cor-de-fundo: #5c86db;
    --cor-da-letra:red;
}

body {
    background-color: var(--cor-de-fundo);
    background-color: aliceblue;
}
